<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HTTP Request Monitor</title>
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="lib/signalr/dist/browser/signalr.js"></script>
    <script src="app.js"></script>
</head>
<body ng-cloak>
    <div ng-controller="MainController">
        <h1>{{title}}</h1>
        <p>Make any HTTP request to /monitor* endpoint and see logs below</p>
        <div>
            <button type="button" class="btn btn-primary" ng-click="clear()">Clear</button>
        </div>
        <div>
            <div ng-repeat="request in requests" class="border">
                <div>
                    <span class="badge badge-primary">{{request.method}}</span>
                    <span>{{request.url}}</span>
                </div>
                <div>
                    <span>Headers:</span>
                    <code>{{request.headers}}</code>
                </div>
                <div>
                    <span>Body:</span>
                    <code>{{request.body}}</code>
                </div>
            </div>
        </div>
    </div>
</body>
</html>